<h3>Dr. <%= @doctor.name %>'s Page</h3>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Graduated From: <%= @doctor.university %></p>

<h3>Hospital Name: <%= @hospital.name %>

<h3>Patients</h3>
<% @patients.each do |patient| %>
  <p><%= patient.name %> <%= button_to "Remove #{patient.name}", hospital_doctor_patient_path(@hospital.id, @doctor.id, params: { patient_id: patient.id }), method: :delete  %></p>
<% end %>