<h1> Doctor's Information </h1>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hosptial: <%= @doctor.hospital.name %></p>

<% @doctor.patients.each do |patient| %>
  <p>Patient name: <%= patient.name %></p>
  <p><%= button_to "Delete #{patient.name}", "/doctors/#{@doctor.id}/patients", method: :delete, params: {patient_id: patient.id, doctor_id: @doctor.id} %></p>
<% end %>
