<h1><%= @doc.name %> Show Page</h1>

<h2>Specialty: <%= @doc.specialty %></h2>
<h2>University: <%= @doc.university %></h2>
<h2>Hospital: <%= @doc.hospital.name %></h2>
<h2>Patients List:</h2>
<ul>
  <% @doc.patients.each do |pat| %>
    <li id="patient-<%= pat.id %>"><%= pat.name %> 
      <%= form_with model: DoctorPatient.find_by_doc_pat(@doc, pat), method: :delete, local: true do |f| %>
        <%= f.submit 'Remove Patient from Caseload' %>
      <% end %>
    </li>
  <% end %>
</ul>