<p><%= @doctor.name %> </p>
<p><%= @doctor.specialty %> </p>
<p><%= @doctor.university %> </p>

<p><%= @doctor.hospital.name %> </p>

<% @doctor.patients.each do |patient|  %>
  <p><%= patient.name %></p>
  <%= button_to "Remove #{patient.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
<% end %>
