  <h1>Doctor Name: <%= @doctor.name %></h1>
  <p>Specialty: <%= @doctor.specialty %></p>
  <p>Doctor's University: <%= @doctor.university %></p>
  <p>Doctor's Hospital: <%= @doctor.hospital.name %></p>

<h3>Doctor's Patients:</h3>

<% @doctor.patients.each do |patient| %>
    <p><%= patient.name %></p>
    <%= button_to "Remove #{patient.name}", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
 <%end  %>
