<h1> <%= @doctor.name %> info: </h1>

<p>Hospital where <%= @doctor.name %> works: <%= @doctor.hospital.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University attended: <%=@doctor.university %></p>





<section id='doctors_patients'>
<h3>Patients this doctor cares for:</h3>
<% @doctor.patients.each do |patient| %>
  <div id="patient-<%= patient.id %>">
    <p><%= patient.name %>
    <%= button_to "Remove This Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete, params: { patient_id: patient.id, doctor_id: @doctor.id} %></p>
  </div>
<% end %>
