<h1>Name: <%= @doctor.name %></h1>
<br>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital of employment: <%= @doctor.hospital.name %></p>
<p>Patients under <%= @doctor.name %>'s care:</p>
<% @doctor.patients.each do |patient| %>
  <li><%=patient.name%></li>
<% end %>
