<h3><%= @doctor.name %></h3>
<p><%= @doctor.university %></p>
<p><%= @doctor.specialty %></p>
<p><%= @doctor.hospital.name %></p>


<% @doctor.patients.each do |patient| %>
  <div id="patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to "Remove", "/doctorpatients", method: :delete,  params: {patient_id: patient.id, doctor_id: @doctor.id} %>
  </div>
<% end %>
