<h1>Doctor Show Page</h1>
<h3><%= "Name: #{@doctor.name}" %></h3>
<p><%= "Specialty: #{@doctor.specialty}" %></p>
<p><%= "University: #{@doctor.university}" %></p>

<div class="hospital">
  <h3>Hospital</h3>
  <p><%= "#{@doctor.name} works at #{@doctor.hospital_name}" %></p>
</div>

<div class="patients">
  <h3>Patients</h3>
  <% @doctor.doctor_patients.each do |doctor_patient|%>
    <div class=<%= "doctor_patient_#{doctor_patient.id}" %>>
      <p><%= "Patient Name: #{doctor_patient.patient_name}" %></p>
      <%= form_with model: [doctor_patient], method: :delete, local: true do |f| %>
        <%= f.submit 'Remove Patient' %>
      <% end %>
    </div>

  <% end %>
</div>
