<h1><%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>

<p>Hospital Name: <%= @doctor.hospital.name %></p>

<p>Patients</p>
<% @doctor.patients.each do |patient| %>
  <p>Name: <%= patient.name %></p>
  <p><%= button_to "Remove #{patient.name} From Caseload", "/doctors", method: :delete, params: {id: patient.id} %></p>
<% end %>
