<div class="doctor">
  <h1>Doctor: <%= @doctor.name %> </h1>
  <ul>
    <li>Specialty: <%= @doctor.specialty %></li>
    <li>University: <%= @doctor.university %></li>
    <li>Hospital: <%= @doctor.hospital.name %></li>
  </ul>
  <p>Patients</p>
  <div class="patients">
  <% @doctor.patients.each do |patient| %>
    <ul>
      <li>Patient name: <%= patient.name %> <%= button_to "Remove: #{patient.name}", doctor_patient_path(@doctor, patient), method: :delete %></li>
    </ul>
  <% end %>
  </div>
</div>
