<h1>Doctor <%= "#{@doctor.name}" %></h1>

  Speciality:
  <%= @doctor.specialty %><br>
  University:
  <%= @doctor.university %><br>
  Hospital:
  <%= @doctor.hospital.name %><br>
  Patients:
  <% @doctor.doctor_patients.each do |doctor_patient| %>
    <%= doctor_patient.patient.name %>
    <div id="doctor-patient-<%= patient.id %>">
      <%= patient.name %><%= button_to "Remove Patient", "/doctor_patients/" method: :delete, local: true, params: {remove_patient: patient.id} %><br>
    </div>
  <% end %>
